
name: CI Actions
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  workflow:
    name: Lint/Build/Test

    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{matrix.go-version}}

      - name: Checkout Code Base
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'

      - name: Restore Go Module Cache
        uses: actions/cache@v2
        with:
          path: ~/go/internal/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Make Lint
        run: |
          export GOPATH=$HOME/go
          export PATH=$PATH:$GOPATH/bin
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.53.3
          go mod tidy
          make lint

      - name: Test
        run: make test
